@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');

body {
    background: white;
    background-image: radial-gradient(rgb(194, 194, 194) 1px, transparent 0);
    background-size: 40px 40px;
}

* {
    /* font-family: 'isocpeur', sans-serif; */
    font-family: 'IBM Plex Sans', sans-serif;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.clickable:hover {
    cursor: pointer;
}
.hoverDarken:hover {
  background-color: #555;
}

.rainbowBorder {
	--angle: 0deg;
	/* width: 50vmin; */
	/* height: 50vmin; */
	border: 2px solid;
  border-radius: 10px !important;
  overflow: hidden;
	border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
	
	animation: 10s rotate linear infinite;
}
@keyframes rotate {
	to {
		--angle: 360deg;
	}
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}